input[type=text] {
  width: 40px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 4px;
  
}
.input_matrix{
  display: flex;
}
.column_matrixA{
  padding: 1rem 1rem 1rem 1rem;
}
.column_matrixB{
  padding: 1rem 1rem 1rem 1rem;
}
.active{
  color: #88c5cc;
}
.Head{
  padding-bottom: 5rem;
}
.square {
  background: gainsboro;
  width: auto;
  height: auto;
}

